/* src/styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}


ul li::before {
    content: '';
    background-image: url(../images/unchecked.png);
    position: absolute;
    left: 45px;
    width: 28px;
    height: 28px;
    background-size: cover;
    background-position: center;

}

ul li {
    margin-top: 2rem;
    margin-left: 5.5rem;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}

.checked::before {
    background-image: url(../images/checked.png);
}
